@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  background: #060505;
  color: #03e9f4;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  border: 2px solid #d2bdff;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

.selected {
  background-color: blue;
}
button:hover {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}